@page "/poll"
@using System.Text.Json

<h3>Poll</h3>

@if (ActivePoll != null)
{
    var highestNrOfVotes = ActivePoll.Options.Max(x => x.NrOfVotes);

    <h2>@ActivePoll.Statement (@ActivePoll.TotalNrOfVotes)</h2>
    <ol class="votes">
        @foreach (var option in ActivePoll.Options)
        {
            var width = 0.0;

            if (option.NrOfVotes > 0)
            {
                var maxWidth = 300.0;
                var nrOfVotes = option.NrOfVotes * 1.0;
                var percentage = nrOfVotes / highestNrOfVotes * 100.0;
                width = maxWidth / 100.0 * percentage;
            }

            <li @onclick="() => Vote(option)">
                <span class="description">@option.Text</span>
                <div class="bar" style="width: @(width.ToString().Replace(",", "."))px;"></div>
                <span>(@option.NrOfVotes)</span>
            </li>
        }
    </ol>
}


<form @onsubmit="InitPoll">

    <input @bind-value="NewPoll.Statement" />

    <ol>
        @for (var i = 0; i < NewPoll.Options.Count; i++)
        {
            var option = NewPoll.Options[i];
            <li>
                <label>Optie #@(i + 1):</label>
                <input @bind-value="option.Text" />
            </li>
        }
    </ol>
    <pre>@JsonSerializer.Serialize(NewPoll)</pre>

    <button>Zet poll uit</button>

</form>
