@page
@model DemoProject.Pages.IndexModel
@{
}

<style>
    td img {
        max-width: 200px;
    }
</style>

<form method="post">
    <ol>
        <li>
            <label for="input-make">Make:</label>
            <input name="make" id="input-make" />
        </li>
        <li>
            <label for="input-model">Model:</label>
            <input name="model" id="input-model" />
        </li>
        <li>
            <label for="input-year">Year of build:</label>
            <input name="year" id="input-year" />
        </li>
        <li>
            <label for="input-photo-url">Photo URL:</label>
            <input name="photoUrl" id="input-photo-url" />
        </li>
        <li>
            @* <input type="submit" value="Submit" /> *@
            <button>
                Submit
                <img />
            </button>
        </li>
    </ol>

    @Html.AntiForgeryToken()
</form>




@if (Model.Cars == null || !Model.Cars.Any())
{
    <p>Geen auto's vandaag.</p>
    return;
}

<table>
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year of build</th>
            <th>Photo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td><img src="@car.PhotoUrl"></td>
            </tr>
        }
    </tbody>
</table>

